<div class="section_menu">
  <div class="mnu_fixed">
    <div class="mnu_wave"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <div class="mnu mnu_mobile hidden-lg hidden-md">
            <div class="icon_shop hidden-lg hidden-md">
              <a ><i class="fa fa-shopping-cart"></i></a>
            </div>
            <div class="input_search hidden-lg hidden-md">
              <input type="text" placeholder="Search...">
              <a class="btnsearch" ><i class="fa fa-search"></i></a>
            </div>
            <div class="toggle_block hidden-lg hidden-md">
              <a class="toggle-mnu"><span></span></a>
            </div>
          </div>

          <div class="mnu hidden-sm hidden-xs">
            <ul>
              <li class="drop1"><a routerLink="home" routerLinkActive="active">Home</a>
              </li>
              <li class="drop2"><a routerLink="posts" routerLinkActive="active">Forum
                <span class="caret"></span></a>
                <ul class="mnu_child">
                  <li><a routerLink="posts">Afficher les Post</a></li>
                  <li><a href="add">add/modify un post</a></li>
                  <li><a href="chat">Chat</a></li>
                  <li><a href="po">posthere</a></li>
                  <li><a href="gallery.html">Gallery</a></li>
                  <li><a href="reviews.html">Reviews</a></li>
                  <li><a href="FAQ.html">FAQ</a></li>
                  <li><a href="404.html">404</a></li>
                </ul>
              </li>
              <li class="drop3"><a routerLink="forum" routerLinkActive="active">Events</a>
                <ul class="mnu_child">
                  <li><a href="service_v2.html">Version 2</a></li>
                </ul>
              </li>
              <li class="drop4"><a href="#">**add yr here**</a>
                <ul class="mnu_child">
                  <li><a href="#">Events</a></li>
                  <li><a href="#">Event</a></li>
                  <li><a href="#">event..</a></li>
                  <li><a href="#">eventttt</a></li>
                </ul>
              </li>
              <li class="drop5"><a href="claim">claim</a>
                <ul class="mnu_child">
                  <li><a href="addclaim">add claim</a></li>
                </ul>
              </li>
              <li class="drop6"><a href="shop_grid.html">****</a>
                <ul class="mnu_child">
                  <li><a href="shop_list.html">title 1</a></li>
                  <li><a href="shop_item.html">
                    title 2</a></li>
                  <li><a href="shop_cart.html">title 3</a></li>
                  <li><a href="shop_cart_empty.html">title4</a></li>
                </ul>
              </li>
              <li class="drop7"><a href="contact.html">Contact us</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-12 col-xs-12 top_mnu">
          <div class="mobile_mnu">
            <ul>
              <li class="drop1"><a href="index-2.html">Home</a>
              </li>
              <li class="drop2"><a class="drop2_mnu" href="#">Forum</a>
                <ul class="mnu_child drop_mnu2">
                  <li><a href="about_us.html">Forum</a></li>
                  <li><a href="teachers.html">Teachers</a></li>
                  <li><a href="teacher.html">Teacher</a></li>
                </ul>
              </li>
              <li class="drop3"><a class="drop3_mnu" href="#">Events</a>
                <ul class="mnu_child drop_mnu3">
                  <li><a href="service_v1.html">Version 1</a></li>
                  <li><a href="service_v2.html">Version 2</a></li>
                </ul>
              </li>
              <li class="drop4"><a class="drop4_mnu" href="#">Page</a>
                <ul class="mnu_child drop_mnu4">
                  <li><a href="events.html">Events</a></li>
                  <li><a href="event.html">Event</a></li>
                  <li><a href="price-table_a.html">Price V1</a></li>
                  <li><a href="price-table_b.html">Price V2</a></li>
                  <li><a href="gallery.html">Gallery</a></li>
                  <li><a href="reviews.html">Reviews</a></li>
                  <li><a href="FAQ.html">FAQ</a></li>
                  <li><a href="404.html">404</a></li>
                </ul>
              </li>
              <li class="drop5"><a class="drop5_mnu" href="#">CLAIM</a>
                <ul class="mnu_child drop_mnu5">
                  <li><a href="blog.html">Blog</a></li>
                  <li><a href="blog_article.html">Post</a></li>
                </ul>
              </li>
              <li class="drop6"><a class="drop6_mnu" href="#">Shop</a>
                <ul class="mnu_child drop_mnu6">
                  <li><a href="shop_grid.html">Version 1</a></li>
                  <li><a href="shop_list.html">Version 2</a></li>
                  <li><a href="shop_item.html">
                    Item page</a></li>
                  <li><a href="shop_cart.html">Cart</a></li>
                  <li><a href="shop_cart_empty.html">Cart Empty</a></li>
                </ul>
              </li>
              <li class="drop7"><a href="contact.html">Contact us</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
