
<section id="slider" class="section-block-wrapper">

  <!-- Background swither -->
  <div class="swicher_section">


    <div class="color-sw" id="color-sw">
      <div id="color-sw-open" class="color-sw-open">
        <i class="fa fa-cog"></i>
      </div>
      <div class="color-sw-header">
        Background switcher <span class="color-sw-close" id="color-sw-close"><i class="fa fa-close"></i></span>
      </div>
      <div class="color-sw-body">
        <p>Choose background style</p>
        <div class="color-sw-item active" id="slider_background_v1">
          <div></div>
        </div>
        <div class="color-sw-item" id="slider_background_v2">
          <div></div>
        </div>
        <div class="color-sw-item" id="slider_background_v3">
          <div></div>
        </div>
        <div class="color-sw-item" id="slider_background_v6">
          <div></div>
        </div>
        <div class="color-sw-item" id="slider_background_v5">
          <div></div>
        </div>
        <div class="color-sw-item" id="slider_background_v4">
          <div></div>
        </div>
        <div class="color-sw-item" id="slider_background_v7">
          <div></div>
        </div>
        <div class="color-sw-item" id="slider_background_v8">
          <div></div>
        </div>
        <div class="color-sw-item" id="slider_background_v9">
          <div></div>
        </div>
        <div class="color-sw-item" id="slider_background_v10">
          <div></div>
        </div>
        <div class="color-sw-item" id="slider_background_v11">
          <div></div>
        </div>
        <div class="color-sw-item" id="slider_background_v12">
          <div></div>
        </div>
      </div>
    </div>

  </div>

  <!-- END Background swither -->

  <div class="parallax_bg hidden-sm hidden-xs">
    <ul id="scene" class="scene" data-scalar-x="10" data-scalar-y="4">
      <li class="layer" data-depth="0.00"><img id="sun" src="assets/img/home/sun.png" alt=""></li>
      <li class="layer" data-depth="0.20"><img id="globe" src="assets/img/home/globe.png" alt=""></li>
      <li class="layer" data-depth="0.30"><img id="cloud" src="assets/img/home/clouds.png" alt=""></li>
    </ul>
  </div>
  <div id="overlay_slider_land" class="overlay_slider_land"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div id="slider_home" class="slider-pro">
          <div class="sp-slides">
            <div class="sp-slide">
              <img class="sp-image" src="assets/img/home/slider_home_2.jpg" alt="The Last of us">
              <div class="sp-layer sp-static slide_block_text" data-position="bottomLeft" data-horizontal="40" data-vertical="57" data-show-delay="400" data-hide-delay="400">
                <h3>Welcome to YeahKids</h3>
                <p>A perfect learning center for your kids</p>
                <span><a href="#">Read more</a></span>
              </div>
              <div class="sp-caption slide_block_text">
                <h3>Welcome to YeahKids</h3>
                <p>A perfect learning center for your kids</p>
                <span><a href="#">Read more</a></span>
              </div>
            </div>
            <div class="sp-slide">
              <img class="sp-image" src="assets/img/home/slider_home_3.jpg" alt="The Last of us">
              <div class="sp-layer sp-static slide_block_text" data-position="bottomLeft" data-horizontal="40" data-vertical="57" data-show-delay="400" data-hide-delay="400">
                <h3>Amazing Illustrations</h3>
                <p>Customizable illustration desings</p>
                <span><a href="#">Read more</a></span>
              </div>
              <div class="sp-caption slide_block_text">
                <h3>Welcome to YeahKids</h3>
                <p>A perfect learning center for your kids</p>
                <span><a href="#">Read more</a></span>
              </div>
            </div>
          </div>
          <div class="sp-slide">
            <img class="sp-image" src="assets/img/home/slider_home_1.jpg" alt="The Last of us">
            <div class="sp-layer sp-static slide_block_text" data-position="bottomLeft" data-horizontal="40" data-vertical="57" data-show-delay="400" data-hide-delay="400">
              <h3>YeahKids Kindergarten</h3>
              <p>Best Education for Kids Perfectly</p>
              <span><a href="#">Read more</a></span>
            </div>
            <div class="sp-caption slide_block_text">
              <h3>Welcome to YeahKids</h3>
              <p>A perfect learning center for your kids</p>
              <span><a href="#">Read more</a></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


