<div class="container">
  <div class="card">
    <h3 class="text-center">Posts List</h3>
    <div class="card-body">
      <table class="table table-striped">
        <thead>
        <th>Id</th>
        <th>tyype</th>
        <th>title</th>
        <th>poster</th>
        <th>description</th>
        <th>creationDate</th>
        </thead>
        <tbody>
        <tr *ngFor="let post of forum">
          <td>{{post.id}}</td>
          <td>{{post.tyype}}</td>
          <td>{{post.title}}</td>
          <td>{{post.poster}}</td>
          <td>{{post.description}}</td>
          <td>{{post.creation_date}}</td>

        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
